<!DOCTYPE html>
<html>

<head>
    <title>HSL - ERROR 404!!</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <base href="https://www.hudsonsciencelabs.com" target="_blank"/> -->
    <script src='/js/jquery-2.2.4.min.js'></script>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
</head>

<body>
    <div class="header">
        <div>
            <img class='logo' src="/images/logo.png">
        </div>
    </div>


    <div class="topnav">
        <a href="/index">Home</a>
        <a href="/news">News</a>
        <a href="/projects">Projects</a>
        <a href="/missions">Missions</a>
        <a href="/research">Research</a>
        <a href="/headoffice">Head Office</a>
        <a href="/about">About</a>
    </div>
    <p>404 </p>
    <br>
    <div class="footer">
        <br> Hudson Science Labs
        <br> Copyright 2019
        <br>
        <br>
    </div>
</body>

</html>