<!DOCTYPE html>
<html>
    <head>
        <title>Hudson Science Labs</title>
        <meta charset="utf-8">
        <!-- <base href="https://www.hudsonsciencelabs.com" target="_blank"/> -->
        <script src='/js/jquery-2.2.4.min.js'></script>
        <link rel="stylesheet" href="/css/style.css">
        <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
        <link rel="shortcut icon" href="/public/images/favicon.ico" type="image/x-icon">
    </head>
    <body>
            <div>
                    <img class='logo' src="/images/logo.png" align=left>
            </div>                
            <div class="topnav">
                    <a class="active" href="#home">Home</a>
                    <a href="#space">Space</a>
                    <a href="#botany">Botany</a>
                    <a href="#missions">Missions</a>
                    <a href="#electronics">Electronics</a>
                    <a href="#about">MIssions</a>
                    <a href="#about">About</a>
                  </div>