<!DOCTYPE html>
<html>
    <head>
        <title>HSL - About</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- <base href="https://www.hudsonsciencelabs.com" target="_blank"/> -->
        <script src='/js/jquery-2.2.4.min.js'></script>
        <link rel="stylesheet" href="/css/style.css">
        <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
        <link rel="shortcut icon" href="/public/images/favicon.ico" type="image/x-icon">
    </head>
    <body>
            <div class="header">
                    <div>
                    <img class='logo' src="/images/logo.png" >
                    </div>
            </div>                
            <div class="topnav">
                        <a href="/index">Home</a>
                        <a href="/astronomy">Astronomy</a>
                        <a href="/botany">Botany</a>
                        <a href="/backyard-science">Backyard Science</a>
                        <a href="/electronics">Electronics</a>
                        <a href="/home-automation">Home Automation</a>
                        <a class="active" href="/about">About</a>
                      </div>