<!DOCTYPE html>
<html>
    <head>
        <title>HSL - About</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- <base href="https://www.hudsonsciencelabs.com" target="_blank"/> -->
        <script src='/js/jquery-2.2.4.min.js'></script>
        <link rel="stylesheet" href="/css/style.css">
        <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
        <link rel="shortcut icon" href="/public/images/favicon.ico" type="image/x-icon">
    </head>
    <body>
            <div class="header">
                    <div>
                    <img class='logo' src="/images/logo.png" >
                    </div>
            </div>                
            <div class="topnav">
                        <li <% if (request.path === '/index') { %>class="active" <% } %><a href="/index">Home</a></li>
                        <li <% if (page_name === 'astronomy') { %>class="active" <% } %><a href="/astronomy">Astronomy</a></li>
                        <li <% if (page_name === 'botany') { %>class="active" <% } %><a href="/botany">Botany</a></li>
                        <li <% if (page_name === 'science') { %>class="active" <% } %><a href="/backyard-science">Backyard Science</a></li>
                        <li <% if (page_name === 'electronics') { %>class="active" <% } %><a href="/electronics">Electronics</a></li>
                        <li <% if (page_name === 'automation') { %>class="active" <% } %><a href="/home-automation">Home Automation</a></li>
                        <li <% if (page_name === 'about') { %>class="active" <% } %><a href="/about">About</a></li>
                      </div> -->