<!DOCTYPE html>
<html>
    <head>
        <title>HSL - News</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- <base href="https://www.hudsonsciencelabs.com" target="_blank"/> -->
        <script src='/js/jquery-2.2.4.min.js'></script>
        <script src='/js/style.js'></script>
        <link rel="stylesheet" href="/css/style.css">
        <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
        <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    </head>
    <body>
        <div class="header">
                <div>
                <img class="logo" src="/images/logo.png" >
                </div>
        </div>
    <div class="navbar" id="navbar">
        <a href="/index">Home</a>
        <a class="active" href="/news">News</a>
            <div class="dropdown">
                <button class="dropbtn">Projects 
                <i class="fa fa-caret-down"></i>
                </button>
                    <div class="dropdown-content">
                        <a href="/project1">Autonomys Mining Robot</a>
                        <a href="/project2">Robofish</a>
                        <a href="/project3">Autonomys Mining Robot</a>
                        <a href="/project4">Robofish</a>
                        <a href="/projects">All Projects</a>
                    </div>
            </div>
            <div class="dropdown">
                <button class="dropbtn">Missions 
                <i class="fa fa-caret-down"></i>
                </button>
                    <div class="dropdown-content">
                        <a href="/mission1">Atlantis Underwater Exploration</a>
                        <a href="/mission2">Diving the Titanic</a>
                        <a href="/mission3">Search for Sentient Life in Sand</a>
                        <a href="/mission4">Insect Cataloging at HSL Head Office</a>
                        <a href="/missions">All Missions</a>
                    </div>
            </div>
        <a href="/research">Research</a>
        <a href="/headoffice">Head Office</a>
        <a href="/about">About</a> 
    </div>