<% include header-headoffice %>

    <link rel="stylesheet" href="/css/graph.css">
    <div class="row">
        <div class='column'>
            <div class="column half">
                <% include missions/mission1 %>
                    <%# Here is the graph for temps %>
                        <% include headoffice/temp-graph %>
                            <br>
                            <br>
                            <%# include articles/article2 %>
            </div>

            <div class="column half">
            <% include headoffice/temp-graph %>
            <br>
            <br>
            <% include articles/article2 %>
            <br>
            <br>

<p id="p1">Test</p>
<script>
    window.getTempFromDatabase = function() {
        $.get('/currentTemp')
            .then(function(value2) {
                console.log(value2)
                document.getElementById("p1").innerHTML = "The current temperature outside is: " + value2 + '' + "c";
            })
            .fail(function(err) {
                console.log('uh oh')
            });
    }
</script>
         <script>
           getTempFromDatabase();
        //    setInterval(getTempFromDatabase,6000)
         </script>
                <a href="#">
                    <img src="/images/img_snow.jpg" alt="Snow" style="width:100%">
                </a>
                <a href="#">
                    <img src="/images/img_forest.jpg" alt="Forest" style="width:100%">
                </a>
                <a href="#">
                    <img src="/images/img_mountains.jpg" alt="Mountains" style="width:100%">
                </a>

                <% include articles/article5 %>
                    <% include articles/article6 %>

            </div>
        </div>
    </div>

    <% include footer %>