<% include header-botany %>

<div class="row">
                <div class='column'>
                        <div class="column middle">
        
                        <% include articles/hsl-welcome %>
        
                        <% include articles/article1 %>
        
                        <a href="#">
                        <img src="/images/img_snow.jpg" alt="Snow" style="width:100%">
                        </a>  
                        <a href="#">
                        <img src="/images/img_forest.jpg" alt="Forest" style="width:100%">
                        </a>
                        <a href="#">
                        <img src="/images/img_mountains.jpg" alt="Mountains" style="width:100%">
                        </a>    
                        
                        <% include articles/article2 %>
                        <% include articles/article3 %>
                        <% include articles/article4 %>
                        </div>
                
                        <div class="column side">
                                <a href="#">
                                <img src="/images/img_snow.jpg" alt="Snow" style="width:100%">
                                </a>  
                                <a href="#">
                                <img src="/images/img_forest.jpg" alt="Forest" style="width:100%">
                                </a>
                                <a href="#">
                                <img src="/images/img_mountains.jpg" alt="Mountains" style="width:100%">
                                </a>                         
                        
                        <% include articles/article5 %>
                        <% include articles/article6 %>
        
                        </div>
                </div>
        </div>  
        
        <% include footer %>