<% include header-research %>

<div class="row">
                <div class='column'>
                        <div class="column middle">
        
                        <% include articles/research/research1 %>
                        <% include articles/research/research2 %>
                        <% include articles/research/research3 %>
                        <% include articles/research/research4 %>
        
                        </div>

                        <div class="column side">
                        <img src="images/sci15.jpeg" style="width:100%">
                        <img src="images/sci2.jpeg" style="width:100%">
                        <img src="images/sci1.jpeg" style="width:100%">
                        </div>
                </div>
        </div>  
        
        <% include footer %>