<% include header-missions %>

<div class="row">
                <div class='column'>
                        <div class="column middle">
        
                        <% include missions/mission1 %>
                        <% include missions/mission2 %>
                        <% include missions/mission3 %>
                        <% include missions/mission4 %>
        
                        </div>

                        <div class="column side">
                        <img src="images/sci14.jpeg" style="width:100%">
                        <img src="images/sci12.jpeg" style="width:100%">
                        <img src="images/sci11.jpeg" style="width:100%">
                        </div>
                </div>
        </div>  
        
        <% include footer %>