<% include header-automation %>

<div class="row">
        <div class='column'>
                <div class="column side">
                Here at HSL we provide backyard science to the world. 
                Topics that are covered include Astronomy, Meteorolgy, 
                Electonics and Robotics, Geology, Archeology and many 
                more.
                </div>
        

                <div class="column middle">
                <h1> Welcome to Hudson Science Laboratories</h1>
                <p>
                Here at HSL we provide backyard science to the world. 
                Topics that are covered include Astronomy, Meteorolgy, 
                Electonics and Robotics, Geology, Archeology and many 
                more.
                <br>Our mission is to show the world what can be 
                achieved with a basic level of knowledge and a drive 
                to learn and create. Together we will learn about the 
                various sciences and go on to discover new and exciting 
                things. The world is out there waiting to be interacted 
                with so lets get out there and do it.
                </p> 


        <!-- <div class="container">
                <a href="#">
                <img src="/images/botany.png" alt="Avatar" class="image" style="width:100%">
                <div class="middle">
                  <div class="text" >Grow Plants</div>                  
                </div>
                </a>
              </div>   -->
                <a href="#">
                <img src="/images/img_snow.jpg" alt="Snow" style="width:100%">
                </a>  
                <a href="#">
                <img src="/images/img_forest.jpg" alt="Forest" style="width:100%">
                </a>
                <a href="#">
                <img src="/images/img_mountains.jpg" alt="Mountains" style="width:100%">
                </a>    
                
                <p>Lorem ipsum dolor dummy 
                text sit amet, consectetur 
                adipiscing elit, sed do eiusmod 
                tempor incididunt ut labore et 
                dolore magna aliqua. Ut enim ad 
                veniam, quis nostrud exercitation 
                ullamco laboris nisi ut aliquip 
                ex ea commodo consequat. Duis 
                aute irure dolor in reprehenderit 
                in voluptate velit esse cillum 
                dolore eu fugiat nulla pariatur. 
                Excepteur sint occaecat cupidatat 
                non proident, sunt in culpa qui 
                officia deserunt mollit anim id 
                est laborum.
                </p>

                <p>Lorem ipsum dolor dummy 
                text sit amet, consectetur 
                adipiscing elit, sed do eiusmod 
                tempor incididunt ut labore et 
                dolore magna aliqua. Ut enim ad 
                veniam, quis nostrud exercitation 
                ullamco laboris nisi ut aliquip 
                ex ea commodo consequat. Duis 
                aute irure dolor in reprehenderit 
                in voluptate velit esse cillum 
                dolore eu fugiat nulla pariatur. 
                Excepteur sint occaecat cupidatat 
                non proident, sunt in culpa qui 
                officia deserunt mollit anim id 
                est laborum.
                </p>
                
                <p>Lorem ipsum dolor dummy 
                text sit amet, consectetur 
                adipiscing elit, sed do eiusmod 
                tempor incididunt ut labore et 
                dolore magna aliqua. Ut enim ad 
                veniam, quis nostrud exercitation 
                ullamco laboris nisi ut aliquip 
                ex ea commodo consequat. Duis 
                aute irure dolor in reprehenderit 
                in voluptate velit esse cillum 
                dolore eu fugiat nulla pariatur. 
                Excepteur sint occaecat cupidatat 
                non proident, sunt in culpa qui 
                officia deserunt mollit anim id 
                est laborum.
                </p>
                </div>
        
                <div class="column side">
                <p>
                Here at HSL we provide backyard science to the world. 
                Topics that are covered include Astronomy, Meteorolgy, 
                Electonics and Robotics, Geology, Archeology and many 
                more.
                <br>Our mission is to show the world what can be 
                achieved with a basic level of knowledge and a drive 
                to learn and create. Together we will learn about the 
                various sciences and go on to discover new and exciting 
                things. The world is out there waiting to be interacted 
                with so lets get out there and do it.
                </p>
                                        
                <p>
                Here at HSL we provide backyard science to the world. 
                Topics that are covered include Astronomy, Meteorolgy, 
                Electonics and Robotics, Geology, Archeology and many 
                more.
                <br>Our mission is to show the world what can be 
                achieved with a basic level of knowledge and a drive 
                to learn and create. Together we will learn about the 
                various sciences and go on to discover new and exciting 
                things. The world is out there waiting to be interacted 
                with so lets get out there and do it.
                </p>
                </div>
        </div>
</div>  

<% include footer %>