<% include header %>
<div>
        <h1> Welcome to Hudson Science Laboratories</h1>
        <p id="st1">
            Here at HSL we provide backyard science to the world. 
           Topics that are covered include Astronomy, Meteorolgy, 
           Electonics and Robotics, Geology, Archeology and many 
           more.
           <br>Our mission is to show the world what can be 
           achieved with a basic level of knowledge and a drive 
           to learn and create. Together we will learn about the 
           various sciences and go on to discover new and exciting 
           things. The world is out there waiting to be interacted 
           with so lets get out there and do it.
        </p>
        </div>
        <div class="container">
                <img src="/images/botany.png" alt="Avatar" class="image" style="width:100%">
                <div class="middle">
                  <div class="text">John Doe</div>
                </div>
              </div>  <br>
<% include footer %>