h1
{color: black; text-align: left; font-family: Helvetica;}

p
{ color: black; text-align: left; font-family: Helvetica;}

.header
{ padding: 20px; text-align: center; background: #1abc9c; color: white; font-size: 20px;}