<div class="row">
  <div class="indexcolumn">
    <div class="card">
      <img src="/images/ocean.jpg" alt="Astrohydrology" style="width:100%">
      <div class="container">
        <h2>Water Discovered on Neptune</h2>
        <p class="title">Investigations &amp; Findings</p>
        <p>On May 13th 2019 the planetary rover 'Animosity' discovered liquid pools
        of water inside lava tubes on Neptune.</p>
        <p>Complete details on this discovery have been provided by 
        Hudson Science Labs partner Hudson Space Industries.</p>
        <p><div class="btn-group"><a href="#">Read On</a></div></p>
      </div>
    </div>
  </div>

  <div class="indexcolumn">
    <div class="card">
      <img src="/images/underwater.jpg" alt="Mike" style="width:100%">
      <div class="container">
        <h2>Suspended Animation Technology Breakthrough</h2>
        <p class="title">Suspended Animation Record</p>
        <p>A woman has been kept in suspended animation for over
        16 hours before being declared deceased. This has smashed 
        the previous record of 7 hours</p>
        <p>A "willing participent" was placed into suspended animation
        and kept alive and potentially recoverably for 16 hours and 12 
        minutes. Scientists and Doctors and Hudson Science Labs hope 
        to perform a successful waking from suspended animation one day</p>
        <p><div class="btn-group"><button href="#">Read On</button></div></p>
      </div>
    </div>
  </div>

  <div class="indexcolumn">
    <div class="card">
      <img src="/images/wedding.jpg" alt="Android Human Wedding" style="width:100%">
      <div class="container">
        <h2>World First Android Human Wedding</h2>
        <p class="title">Happily Ever After</p>
        <p>In another world first this month, a Hudson Science
        Labs employee married an Android.</p>
        <p>This has been the first Android Human wedding Science
        Androids were given legal citizenship in December 2017</p>  
        <p><div class="btn-group"><button href="#">Read On</button></div></p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="indexcolumn">
    <div class="card">
      <img src="/images/img_snow.jpg" alt="Australian Alps" style="width:100%">
      <div class="container">
        <h2>18.3 Magnitude Earthquake Changes Australian Landscape</h2>
        <p class="title">Everst loses the talest mountain title.</p>
        <p>A ridiculously large earthquake measuring 18.3 has smashed 
        the Australian landscape and created a new mountain range that 
        is taller than the Himylayas.</p>
        <p>Known as Hudson Ridge, the new mountain range has destroyed 
        the city of Sydney. Hudson Science Labs founder, Blake Hudson
        just happened to be testing a new prototype for HSL's sister 
        weapons manufaturing company Hudson Technologies, when the event
         took place. Being the only survivor thanks to a prototype armoured
          suit, Blake sustained no injuries and was the firs to see and name
           the mountain range.</p>
        <p><div class="btn-group"><button href="#">Read On</button></div></p>
      </div>
    </div>
  </div>

  <div class="indexcolumn">
    <div class="card">
      <img src="/images/rocks.jpg" alt="ravine" style="width:100%">
      <div class="container">
        <h2>HSL Botanist Discovers Lost Civilization</h2>
        <p class="title">Thought to have been lost to time</p>
        <p>A civilization considered to be the basis of Plato's 
        Atlantis has been discovered 18,000km from the Mediteranian.
         In an undisclosed location on an undisclosed continent Dr Paul
          Seem has found the location of Atlantis.</p>
        <p>The only information
           that has been provided to the public regarding the location
            is the above picture and the fact that the river is over 10,000m
             deep. Most ravine rivers are between 1 and 10m deep, this is 
             extremely rare.</p>
        <p><div class="btn-group"><button href="#">Read On</button></div></p>
      </div>
    </div>
  </div>

  <div class="indexcolumn">
    <div class="card">
      <img src="/images/img_forest.jpg" alt="Forest Walk" style="width:100%">
      <div class="container">
        <h2>Forests Made More Accessible to Millenials</h2>
        <p class="title">Bycyle roads through the jungle.</p>
        <p>Millenials, no one likes them but we have to tollerate them.
        They never leave their tumeric lattes and smashed avocado breakfasts
         to see the outside world. This has put a lot of pressure on outdoor 
         sciences like Botany and Entamology. </p>
        <p>Hudson Science Labs industrial partner company Hudson Industrial has 
        begun installing raised bycycle paths through every forest, jungle, 
        desert and grassland in the world in order to encourage millenials to 
        go outside and study the world.</p>  
        <p><div class="btn-group"><button href="#">Read On</button></div></p>
      </div>
    </div>
  </div>
</div>