<div class="row">
  <div class="indexcolumn">
    <div class="card">
      <img src="/images/underwater.jpg" alt="Jane" style="width:100%">
      <div class="container">
        <h2>Jane Doe</h2>
        <p class="title">CEO &amp; Founder</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>example@example.com</p>
        <p><div class="btn-group"><button>Contact</button></div></p>
      </div>
    </div>
  </div>

  <div class="indexcolumn">
    <div class="card">
      <img src="/images/ocean.jpg" alt="Mike" style="width:100%">
      <div class="container">
        <h2>Mike Ross</h2>
        <p class="title">Art Director</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>example@example.com</p>
        <p><div class="btn-group"><button>Contact</button></div></p>
      </div>
    </div>
  </div>

  <div class="indexcolumn">
    <div class="card">
      <img src="/images/wedding.jpg" alt="John" style="width:100%">
      <div class="container">
        <h2>John Doe</h2>
        <p class="title">Designer</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>example@example.com</p>
        <p><div class="btn-group"><button>Contact</button></div></p>
      </div>
    </div>
  </div>
</div>