        <div class="card">
            <img src="/images/img_snow.jpg" alt="Australian Alps" style="width:100%">
            <div class="container">
                <h2>18.3 Magnitude Earthquake Changes Australian Landscape</h2>
                <p class="title">Everst loses the talest mountain title.</p>
                <p>A ridiculously large earthquake measuring 18.3 has smashed the Australian landscape and created a new mountain range that is taller than the Himylayas.</p>
                <p>Known as Hudson Ridge, the new mountain range has destroyed the city of Sydney. Hudson Science Labs founder, Blake Hudson just happened to be testing a new prototype for HSL's sister weapons manufaturing company Hudson Technologies, when
                    the event took place. Being the only survivor thanks to a prototype armoured suit, Blake sustained no injuries and was the firs to see and name the mountain range.</p>
                <p>
                    <div class="btn-group"><a href="#">Read On</a></div>
                </p>
            </div>
        </div>

        <div class="card">
            <img src="/images/sci17.jpeg" alt="ravine" style="width:100%">
            <div class="container">
                <h2>HSL Botanist Discovers Lost Civilization</h2>
                <p class="title">Thought to have been lost to time</p>
                <p>A civilization considered to be the basis of Plato's Atlantis has been discovered 18,000km from the Mediteranian. In an undisclosed location on an undisclosed continent Dr Paul Seem has found the location of Atlantis.</p>
                <p>The only information that has been provided to the public regarding the location is the above picture and the fact that the river is over 10,000m deep. Most ravine rivers are between 1 and 10m deep, this is extremely rare.</p>
                <p>
                    <div class="btn-group"><a href="#">Read On</a></div>
                </p>
            </div>
        </div>

        <div class="card">
            <img src="/images/sci16.jpeg" alt="Forest Walk" style="width:100%">
            <div class="container">
                <h2>Forests Made More Accessible to Millenials</h2>
                <p class="title">Bycyle roads through the jungle.</p>
                <p>Millenials, no one likes them but we have to tollerate them. They never leave their tumeric lattes and smashed avocado breakfasts to see the outside world. This has put a lot of pressure on outdoor sciences like Botany and Entamology.
                    </p>
                <p>Hudson Science Labs industrial partner company Hudson Industrial has begun installing raised bycycle paths through every forest, jungle, desert and grassland in the world in order to encourage millenials to go outside and study the world.</p>
                <p>
                    <div class="btn-group"><a href="#">Read On</a></div>
                </p>
            </div>
        </div>