
    <div class="card">
        <img src="/images/ocean.jpg" alt="Astrohydrology" style="width:100%">
        <div class="container">
            <h2>Water Discovered on Neptune</h2>
            <p class="title">Investigations &amp; Findings</p>
            <p>On May 13th 2019 the planetary rover 'Animosity' discovered liquid pools of water inside lava tubes on Neptune.</p>
            <p>Complete details on this discovery have been provided by Hudson Science Labs partner Hudson Space Industries.</p>
            <p>
                <div class="btn-group"><a href="#">Read On</a></div>
            </p>
        </div>
    </div>



    <div class="card">
        <img src="/images/underwater.jpg" alt="Mike" style="width:100%">
        <div class="container">
            <h2>Suspended Animation Technology Breakthrough</h2>
            <p class="title">Suspended Animation Record</p>
            <p>A woman has been kept in suspended animation for over 16 hours before being declared deceased. This has smashed the previous record of 7 hours</p>
            <p>A "willing participent" was placed into suspended animation and kept alive and potentially recoverably for 16 hours and 12 minutes. Scientists and Doctors and Hudson Science Labs hope to perform a successful waking from suspended animation
                one day</p>
            <p>
                <div class="btn-group"><a href="#">Read On</a></div>
            </p>
        </div>
    </div>

    <div class="card">
        <img src="/images/wedding.jpg" alt="Android Human Wedding" style="width:100%">
        <div class="container">
            <h2>World First Android Human Wedding</h2>
            <p class="title">Happily Ever After</p>
            <p>In another world first this month, a Hudson Science Labs employee married an Android.</p>
            <p>This has been the first Android Human wedding Science Androids were given legal citizenship in December 2017</p>
            <p>
                <div class="btn-group"><a href="#">Read On</a></div>
            </p>
        </div>
    </div>