<h1> Temperature Differentiation Studies</h1>

<article>
HSL Scientists are currently performing research on the temperature diference
between inside and outside of the HSL Headquarters.
<br>
<br>
Current findings indicate there is a reverse arcing temerature curve between
inside and outside. These temperatures overlap as the transition from colder
temperatures outside to hot. Inside the temperature also increases however it
is at an inland tidal rate where the temperature takes longer to begin changing 
from cold to warm and vise versa.
</article>
